@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
$family-sans-serif: 'Karla', sans-serif;

.skill_box {
    padding: 2px 0;
}

.ability_box {
    flex-direction: column;
    border: medium solid #363636;
}

@import "../node_modules/bulma/bulma.sass";