@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
$family-sans-serif: 'Karla', sans-serif;
$dark: #363636;

.skill_box {
    padding: 2px 0;
}

.ability_box {
    flex-direction: column;
}

.health_box {

    .health_part {
        border-bottom: thin solid $dark;
    }
    .dice_part {
        border-bottom: thin solid $dark;
    }
}

@import "../node_modules/bulma/bulma.sass";
